.color_body{
  background-color: #f8f8f8;
  height: 100vh;
}
.font{
  font-family: 'Almarai', sans-serif;
}
.title {
  color: #224f61;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}
.underline{
  height: 1px;
  width: 200px;
  border: 2px solid #b45b35;
  border-radius: 10px;
}
.btn {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  border:1px solid #224f61;
  line-height: 24px;
}
.btn:hover {
  color: black;
  border: none;
  border-radius: 11px;
  background-color: #b45b35;

}
.img-item{
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.item-dec {
  color: #8c8c8c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
.item-title {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
.card-color{
  background-color: #f8f8f8;

}
.item-price{
  color: #845b35;
    font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
